@import '../../mixin';

.nav-bar {
  background-color: white;
  box-shadow: 1px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);

  img {
    height: 70px;
    display: block !important;
    padding-bottom: 5px;
  }

  input {
    border-radius: 20px;
  }

  input {
    @media only screen and (min-width: 1200px) {
      width: 400px !important;
    }

    max-width: 100%;
  }

  .btn-search {
    background-color: transparent;
    border-radius: 20px;
    border-color: $orange;
    padding: 5px 10px;
    border: 1px solid $orange;
    color: $blue;

    &:hover {
      background-color: $blue;
    }

    span {
      margin-right: 1vh;
      font: 14px/22px Quicksand-Bold;
    }

  }

  .btn-cart {
    display: flex !important;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid $orange;
    color: $blue;

    span {
      margin-right: 1vh;
      font: 14px/22px Quicksand-Bold;
    }

    i {
      margin-top: 0.5vh;
    }

    &:hover {
      color: $blue !important;
      border-color: $orange;
      background-color: $blue;

      span {
        color: $orange
      }
    }

  }

  .nav-link {
    color: $blue;
    transition: transform .2s;

    &:hover {
      font-weight: bold;
      transform: scale(1.1);
      margin-left: 5px;
      margin-right: 5px;
      color: $blue !important;
    }
  }

  a {
    color: $blue;
    transition: transform .2s;

    &:active {
      font: 18px/24px Quicksand-Bold;
      margin-left: 5px;
      margin-right: 5px;
      color: $blue !important;
    }

    &:hover {
      font-weight: bold;
      transform: scale(1.1);
      margin-left: 5px;
      margin-right: 5px;
      color: $blue !important;
    }
  }

  .active {
    font: 18px/24px Quicksand-Bold;
    margin-left: 5px;
    margin-right: 5px;
    color: $blue !important;
  }

  i {
    color: $orange;
  }

  .form-inline {
    flex-flow: initial;
  }

  .search {
    height: 30px;
  }

  .dropdown {
    a {
      color: $blue !important;
    }
  }
}