@import "./mixin";

//font-family: 'Montserrat', sans-serif;
//font-family: 'Futura';


/* Your default CSS. */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*:focus {
	outline: 0;
}


@font-face {
	font-family: 'Quicksand';
	src: url(./fonts/Quicksand-VariableFont_wght.ttf);
}

@font-face {
	font-family: 'Quicksand-Bold';
	src: url(./fonts/Quicksand-Bold.ttf);
}

@font-face {
	font-family: 'Quicksand-SemiBold';
	src: url(./fonts/Quicksand-SemiBold.ttf);
}

@font-face {
	font-family: 'Quicksand-Light';
	src: url(./fonts/Quicksand-Light.ttf);
}

@font-face {
	font-family: 'Quicksand-Medium';
	src: url(./fonts/Quicksand-Medium.ttf);
}

@font-face {
	font-family: 'Quicksand-Regular';
	src: url(./fonts/Quicksand-Regular.ttf);
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(./fonts/MaterialIcons-Regular.eot);
	/* For IE6-8 */
	src: local('Material Icons'),
		local('MaterialIcons-Regular'),
		url(./fonts/MaterialIcons-Regular.woff2) format('woff2'),
		url(./fonts/MaterialIcons-Regular.woff) format('woff'),
		url(./fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}

html {
	height: 100%;
	scroll-behavior: smooth; // scroll suavizado
}

body {
	font-family: "Quicksand", sans-serif !important;
	font-size: 0.9375rem;
	top: 0px;
	left: 0px;
	overflow-x: hidden;

	max-width: 100%;
	// background-image: url(./images/new-york-city-silhouette-skyline-cityscape-building-silhouette-building-skyline-png-4186_1562.png) !important;
	background-color: white !important;
	background-position: bottom !important;
	background-repeat: no-repeat;
	background-attachment: fixed !important;
	// background-size: 100%;
	opacity: 1;

	@media only screen and (min-width: 1000px) {}
}

.spinner-loading {
	position: absolute;
	left: 50%;
	top: 50%;
	color: $blue;
}

.justify-content {
	align-items: center;
	display: flex;
	justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

.h1,
h1 {
	font: 2.25rem Quicksand-Bold;
}

.h2,
h2 {
	font: 1.875rem Quicksand-Bold;
}

.h3,
h3 {
	font: 1.5rem Quicksand-Bold;
}

.h4,
h4 {
	font: 1.125rem Quicksand-Bold;
}

.h5,
h5 {
	font-size: 1rem;
}

.h6,
h6 {
	font-size: 0.875rem;
}

a {
	color: #2E3842;
}

.dot-line {
	margin: 30px 0px 30px 0px;
	border-bottom: 2px dashed rgba($color: $gray, $alpha: 0.3);
	text-align: center;
	// width: 1024px;
	width: 90%;

	@media only screen and (max-width: 1000px) {
		margin: 15px 10px 0px 10px;
	}

}

.not-found {
	width: 100%;
	height: auto;
	overflow: hidden;

	img {
		margin-top: 20px;
		min-height: 100px;
		padding: 0px 10px 0px 10px;
		max-width: 100vw;
		height: auto;
		width: auto;
		max-height: 60vh;
	}

	.not-found-content {
		margin-bottom: 20px;

		h2 {
			font: 40px/50px Quicksand-Bold;
		}

		h5 {
			font: 20px/25px Quicksand-Regular;
		}

		a {
			margin-top: 20px;
			padding: 5px 10px;
			width: 336px;
			height: 80px;
			background: $purple 0% 0% no-repeat padding-box;
			border-color: $purple;
			border-radius: 20px;
			opacity: 1;
			color: white;
		}
	}
}

.hidden {
	display: none;
}

.fade-in {
	animation: fadeIn 1.0s ease forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

input[type=radio] {
	color: $blue !important;
	cursor: pointer;
	margin-top: 3px;
	margin-right: 10px;
	margin-left: 10px;
	;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* create custom radiobutton appearance */
	display: inline-block;
	width: 17px;
	height: 17px;
	// padding: 2px;
	/* background-color only for content */
	background-clip: content-box;
	border: 1px solid $gray;
	background-color: #ffffff;
	border-radius: 50%;

	&:checked {
		background-color: $blue;
		transition: ease-in 0.25s;
	}
}

a {
	color: $blue;
	text-decoration: none !important;
}


.form-label {
	font: 18px/22px Quicksand-Bold;
}

.form-text {
	font: 14px/22px Quicksand-Regular;
}

button[type=submit] {
	text-decoration: none;
	color: white;
	padding: 10px;
	background-color: $orange;
	border: 1px solid $orange;
	border-radius: 0px;
	transition: 0.3s;
	font: 18px/24px Quicksand-Bold;

	&:hover,
	&:active,
	&:focus {
		transition: ease-in;
		background-color: transparent;
		color: $orange;
		border: 1px solid $orange;
		transition: 0.2s;
	}
}

.dashed {
	border-bottom: 1px dashed $gray_special;
}

.btn-clear {
	text-decoration: none;
	color: $orange !important;
	padding: 10px;
	background-color: transparent !important;
	border: 1px solid $orange !important;
	border-radius: 0px;
	transition: 0.3s;
	font: 18px/24px Quicksand-Bold !important;

	&:hover,
	&:active,
	&:focus {
		transition: ease-in;
		background-color: $red !important;
		color: white !important;
		border: 1px solid $red !important;
		transition: 0.2s;
	}
}

.center {
	margin: auto;
	width: 50%;
	padding: 10px;
}

.remove {
	width: 40px !important;
	height: 40px !important;
	justify-content: center !important;
	align-items: center !important;
	display: inline-flex !important;
	background-color: $red !important;
	border-color: $red !important;

	&:hover,
	&:active {
		background-color: transparent !important;
		color: $red !important;
	}
}

.view {
	width: 40px !important;
	height: 40px !important;
	justify-content: center !important;
	align-items: center !important;
	display: inline-flex !important;
	background-color: $blue !important;
	border-color: $blue !important;

	&:hover,
	&:active {
		background-color: transparent !important;
		color: $blue !important;
	}
}

.spinner-border{
	color: $blue;
}