@import '../../mixin.scss';

.farm-selector {

  h4 {
    margin-top: 1vh;
    margin-bottom: 2vh;
    font: 22px/18px Quicksand-Bold;
  }

  .col {
    padding-left: 5px !important;
  }

  .form-group {
    margin-bottom: 10px;

    .form-row {
      align-content: center;
      align-items: center;
      display: flex;
    }

    .form-label {
      font: 18px/18px Quicksand-Bold;
      margin-bottom: 0px;
    }

    .card-text {
      text-transform: capitalize;
      margin-left: 10px;
    }
  }

  .actions {
    justify-content: center;
    display: flex;
    margin-bottom: 1vh;

    button {
      margin-left: 2.5vh;
      margin-right: 2.5vh;
    }

    .btn-buy {
      background-color: $blue;
      border: 1px solid $blue;

      &:hover {
        color: $blue;
        background-color: transparent;
        border: 1px solid $blue;
      }
    }

    .btn-bid {
      background-color: $orange;
      border: 1px solid $orange;

      &:hover {
        color: $orange;
        background-color: transparent;
        border: 1px solid $orange;
      }
    }
  }
}